* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open-Sans', sans-serif;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.container {
  margin: 0 auto;
}
.signUpButton {
  display: flex;
  margin: 180px 0 113px 0;
  justify-content: center;
}
@media (max-width: 1000px) {
  .signUpButton {
    margin: 93px 0 -58px 0;
  }
}
.signUpButton .sUBtn {
  width: 280px;
}
.signUpButton .sUBtn button {
  width: 280px;
  height: 90px;
  font-size: 4.5rem;
  border-radius: 40px;
  border: 2px solid #252627;
  color: #FFF9FB;
  background: #BB0A21;
}
.signUpButton .sUBtn button:hover {
  color: #BB0A21;
  background: #FFF9FB;
  cursor: pointer;
}
strong {
  font-weight: bold;
  text-decoration: underline;
  color: #FFF9FB;
  font-size: 5rem;
}
.tilt-card-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  top: 0;
  background-color: #252627;
  z-index: 2;
}
@media (max-width: 1000px) {
  .nav {
    position: static;
    flex-flow: column;
    text-align: center;
  }
}
.nav .nav-logo {
  padding: 15px 0 15px 1%;
}
@media (max-width: 1000px) {
  .nav .nav-logo {
    margin-top: 35px;
    padding: 15px 0 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.nav .nav-logo .logo {
  width: 530px;
}
.nav .nav-logo .logo img {
  width: 80%;
}
@media (max-width: 1000px) {
  .nav .nav-logo .logo img {
    width: 100%;
  }
}
.nav .nav-btns {
  width: 100%;
  padding-top: 10px;
  text-align: end;
  padding-right: 2%;
  margin-top: 10px;
}
@media (max-width: 1000px) {
  .nav .nav-btns {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin-top: 31px;
    padding-right: 0;
  }
}
.nav .nav-btns .nav-btn1 {
  margin: 0 15px 0 0;
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #252627;
  background: #FFF9FB;
  border: 3px solid #252627;
  border-radius: 25px;
  color: #FFF9FB;
  background: #4B88A2;
}
.nav .nav-btns .nav-btn1:hover {
  color: #4B88A2;
  background: #FFF9FB;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .nav .nav-btns .nav-btn1 {
    width: 100%;
    height: 100px;
    font-size: 4rem;
    margin: 0;
  }
}
.nav .nav-btns .nav-btn2 {
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #252627;
  background: white;
  border: 3px solid #252627;
  border-radius: 25px;
  color: #FFF9FB;
  background: #4B88A2;
}
.nav .nav-btns .nav-btn2:hover {
  color: #4B88A2;
  background: #FFF9FB;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .nav .nav-btns .nav-btn2 {
    width: 100%;
    height: 100px;
    font-size: 4rem;
    margin: 15px 0 25px 0;
  }
}
.cta {
  max-width: 1250px;
  display: flex;
  padding: 280px 0 220px 0;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .cta {
    margin: 230px 0 20px 0;
    flex-flow: column;
    margin-top: 0;
    padding: 0;
  }
}
.cta .cta-image {
  width: 450px;
  height: 450px;
  margin-right: 10%;
}
@media (max-width: 1000px) {
  .cta .cta-image {
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (max-width: 475px) {
  .cta .cta-image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}
.cta .cta-catchphrase {
  max-width: 45%;
  font-size: 4.5rem;
  text-align: center;
  line-height: 100px;
  padding-top: 25px;
  color: #252627;
}
@media (max-width: 1000px) {
  .cta .cta-catchphrase {
    max-width: 100%;
    font-size: 3.5rem;
  }
}
@media (max-width: 1250px) {
  .cta .cta-catchphrase {
    font-size: 3.5rem;
  }
}
.cta .cta-button button {
  width: 150px;
  height: 60px;
  font-size: 2.5rem;
  border-radius: 40px;
  border: 2px solid #252627;
  color: #FFF9FB;
  background: #BB0A21;
}
.cta .cta-button button:hover {
  color: #BB0A21;
  background: #FFF9FB;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .cta .cta-button button {
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 3rem;
    height: 73px;
  }
}
.mission-statement {
  display: flex;
  border-top: 1px solid black;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 50px 0;
  background: #BB0A21;
}
.mission-statement .phrase {
  font-size: 3rem;
  width: 54%;
}
@media (max-width: 1000px) {
  .mission-statement .phrase {
    font-size: 2.3rem;
    width: 86%;
  }
}
.mission-statement .phrase h2 {
  text-align: center;
  line-height: 75px;
  color: #FFF9FB;
}
@media (max-width: 1000px) {
  .mission-statement .phrase h2 {
    font-size: 2.6rem;
    line-height: 62px;
  }
}
.container {
  max-width: 1500px;
  display: flex;
  flex-flow: column nowrap;
}
.container .citeDescription1 {
  margin: 215px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
@media (max-width: 1000px) {
  .container .citeDescription1 {
    margin: 0;
    flex-flow: column;
    padding: 0;
    margin-top: 20px;
  }
}
.container .citeDescription1 .cD1-text {
  width: 60%;
  text-align: center;
}
@media (max-width: 1000px) {
  .container .citeDescription1 .cD1-text {
    width: 100%;
    margin-bottom: 95px;
  }
}
.container .citeDescription1 .cD1-text h2 {
  font-size: 4.5rem;
  margin-top: 120px;
}
@media (max-width: 1000px) {
  .container .citeDescription1 .cD1-text h2 {
    font-size: 4.2rem;
  }
}
.container .citeDescription1 .cD1-text p {
  font-size: 3rem;
  line-height: 50px;
  padding-top: 8px;
}
@media (max-width: 1000px) {
  .container .citeDescription1 .cD1-text p {
    font-size: 3rem;
    line-height: 73px;
  }
}
.container .citeDescription2 {
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse;
  padding: 10px;
}
@media (max-width: 1000px) {
  .container .citeDescription2 {
    margin: 0;
    flex-flow: column;
    padding: 0;
  }
}
.container .citeDescription2 .cD2-text {
  width: 60%;
  text-align: center;
}
@media (max-width: 1000px) {
  .container .citeDescription2 .cD2-text {
    width: 100%;
  }
}
.container .citeDescription2 .cD2-text h2 {
  font-size: 4.5rem;
  margin-top: 120px;
}
@media (max-width: 1000px) {
  .container .citeDescription2 .cD2-text h2 {
    font-size: 4.2rem;
  }
}
.container .citeDescription2 .cD2-text p {
  font-size: 3rem;
  line-height: 50px;
  padding-top: 8px;
}
@media (max-width: 1000px) {
  .container .citeDescription2 .cD2-text p {
    font-size: 3rem;
    line-height: 73px;
  }
}
.container .container-img {
  display: flex;
  width: 444px;
  height: 444px;
}
@media (max-width: 1000px) {
  .container .container-img {
    margin: 0 auto;
  }
}
@media (max-width: 475px) {
  .container .container-img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}
.index-footer {
  color: #252627;
  background: #D3D4D9;
  padding: 20px 0;
  border: 1px double #FFF9FB;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 120px;
}
.top-developer-content {
  max-width: 1250px;
  display: flex;
  padding: 270px 0;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .top-developer-content {
    flex-flow: column;
    margin-top: 50px;
    padding: 0;
  }
}
.top-developer-content .tDC-image {
  width: 450px;
  height: 450px;
  margin-right: 10%;
}
@media (max-width: 1000px) {
  .top-developer-content .tDC-image {
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (max-width: 475px) {
  .top-developer-content .tDC-image {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }
}
.top-developer-content .tDC-tagline {
  max-width: 45%;
  font-size: 5rem;
  text-align: center;
  line-height: 160px;
  margin-top: 85px;
  color: #252627;
}
@media (max-width: 1000px) {
  .top-developer-content .tDC-tagline h1 {
    border-bottom: 2px solid;
    margin-bottom: 75px;
    padding-bottom: 80px;
  }
}
.top-developer-content .tDC-tagline span {
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .top-developer-content .tDC-tagline {
    max-width: 100%;
    font-size: 4rem;
  }
}
.container2 {
  max-width: 1500px;
  display: flex;
  flex-flow: column nowrap;
  border-top: 3px solid black;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container2 {
    border: none;
  }
}
.container2 .developer {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
@media (max-width: 1000px) {
  .container2 .developer {
    margin: 0;
    flex-flow: column;
    padding: 0;
  }
}
.container2 .developer .developer-text {
  width: 60%;
  text-align: center;
}
@media (max-width: 1000px) {
  .container2 .developer .developer-text {
    width: 100%;
    margin-bottom: 95px;
  }
}
.container2 .developer .developer-text h2 {
  font-size: 4.5rem;
  margin-top: 65px;
}
.container2 .developer .developer-text p {
  font-size: 3.3rem;
  line-height: 100px;
}
@media (max-width: 1000px) {
  .container2 .developer .developer-text p {
    font-size: 3rem;
    line-height: 73px;
  }
}
.container2 .developer-img {
  display: flex;
  width: 444px;
  height: 444px;
}
@media (max-width: 1250px) {
  .container2 .developer-img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1000px) {
  .container2 .developer-img {
    margin: 0 auto;
    height: 350px;
    width: 350px;
  }
}
.container2 .fTA-links {
  font-size: 35px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.container2 .fTA-links a {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}
.container2 .fTA-link-github {
  width: 35px;
  margin-right: 5px;
}
.container2 .fTA-link-github:hover {
  cursor: pointer;
}
.container2 .fTA-link-github .fTA-link-linkedIn {
  width: 35px;
  margin-left: 5px;
}
.container2 .fTA-link-github .fTA-link-linkedIn:hover {
  cursor: pointer;
}
.about-footer {
  color: #252627;
  background: #D3D4D9;
  padding: 20px 0;
  border: 1px double #FFF9FB;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 120px;
}
@media (max-width: 1000px) {
  .about-footer {
    margin-top: 0;
  }
}
