/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open-Sans', sans-serif;
}
h3 {
  text-decoration: underline;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1700px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
.nav {
  background: rgba(75, 136, 162, 0.7);
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 300;
}
@media (max-width: 500px) {
  .nav {
    background: rgba(187, 10, 33, 0.8);
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #252627;
  }
}
.nav .logo {
  font-family: 'Nunito', sans-serif;
  font-size: 5rem;
  color: #FFF9FB;
}
.nav .logo sup {
  font-family: 'arial';
  font-size: 1rem;
}
.nav .logo:hover {
  color: #BB0A21;
  cursor: pointer;
}
@media (max-width: 500px) {
  .nav .logo {
    text-align: center;
  }
}
.nav .nav-btns {
  width: 100%;
  margin: 0 20px 0 0;
  text-align: right;
}
@media (max-width: 500px) {
  .nav .nav-btns {
    text-align: center;
    margin: 20px 0;
  }
}
.nav .nav-btns .nav-btn1 {
  margin: 0 15px 0 0;
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  color: #4B88A2;
  background: #FFF9FB;
}
.nav .nav-btns .nav-btn1:hover {
  color: #FFF9FB;
  background: #4B88A2;
  cursor: pointer;
}
@media (max-width: 500px) {
  .nav .nav-btns .nav-btn1 {
    border: 1px solid #252627;
  }
}
.nav .nav-btns .nav-btn2 {
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  color: #4B88A2;
  background: #FFF9FB;
}
.nav .nav-btns .nav-btn2:hover {
  color: #FFF9FB;
  background: #4B88A2;
  cursor: pointer;
}
@media (max-width: 500px) {
  .nav .nav-btns .nav-btn2 {
    border: 1px solid #252627;
  }
}
.cta {
  background-image: url("../img/concert.png");
  height: 800px;
}
@media (max-width: 500px) {
  .cta {
    height: 500px;
  }
}
.cta h1 {
  color: #BB0A21;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-shadow: 2px 2px 3px;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 500px) {
  .cta h1 {
    font-size: 4rem;
    padding: 0 2%;
  }
}
.cta .cta-btn1 {
  background: rgba(255, 249, 251, 0.2);
  color: #FFF9FB;
  position: absolute;
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 30px 0 0;
  padding: 20px 140px;
  border: none;
  border-radius: 10px;
  top: 70%;
  left: 28%;
  transition: all 0.5s ease-in-out;
}
.cta .cta-btn1:hover {
  color: #4B88A2;
  cursor: pointer;
  transform: scale(1.2);
}
@media (max-width: 500px) {
  .cta .cta-btn1 {
    display: none;
  }
}
.cta .cta-btn2 {
  display: none;
  background: #BB0A21;
  color: #FFF9FB;
  position: absolute;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 30px 0 0;
  padding: 20px 80px;
  border: none;
  border-radius: 10px;
  top: 75%;
  left: 15%;
}
@media (max-width: 500px) {
  .cta .cta-btn2 {
    display: block;
  }
}
.top-content {
  background-color: #eeeff1;
  padding: 60px 0;
}
.top-content h2 {
  font-size: 3.5rem;
  color: #BB0A21;
  text-align: center;
}
.middle-content {
  border-top: 7px dashed #eeeff1;
  border-bottom: 7px dashed #eeeff1;
  background-color: #FFF9FB;
  padding: 60px 6%;
}
.middle-content .text-content {
  width: 48%;
  padding: 5% 0 0 0;
}
.middle-content .text-content h3 {
  font-size: 4rem;
  color: #BB0A21;
  text-align: center;
}
.middle-content .text-content p {
  padding: 2% 0 0 0;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 500px) {
  .middle-content .text-content {
    display: none;
  }
}
.middle-content .img-content {
  width: 50%;
}
.middle-content .img-content img {
  border-radius: 1%;
  height: 300px;
  width: 80%;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
.middle-content .img-content img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 500px) {
  .middle-content .img-content img {
    width: 200%;
  }
}
.middle-content .content-section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.middle-content .content-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .middle-content .content-section2 {
    margin-top: 40px;
  }
}
.middle-content .content-section2 .img-content {
  text-align: right;
}
.middle-content .content-section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .middle-content .content-section3 {
    margin-top: 40px;
  }
}
.bottom-content {
  background-color: #eeeff1;
  padding: 20px 0;
  color: #BB0A21;
}
.bottom-content .bottom-btn {
  text-align: center;
  margin: 40px auto;
}
.bottom-content .bottom-btn1 {
  background: #FFF9FB;
  color: #252627;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 140px;
  border: 3px solid #252627;
  border-radius: 10px;
  color: #FFF9FB;
  background: #4B88A2;
}
.bottom-content .bottom-btn1:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.bottom-content .bottom-btn1:hover {
  color: #4B88A2;
  background: #FFF9FB;
  cursor: pointer;
}
.bottom-content h4 {
  font-size: 3rem;
  text-align: center;
}
footer {
  background: rgba(75, 136, 162, 0.7);
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0;
}
@media (max-width: 500px) {
  footer {
    background: rgba(187, 10, 33, 0.8);
  }
}
