/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open-Sans', sans-serif;
}
h3 {
  text-decoration: underline;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1700px;
  margin: 0 auto;
}
.nav {
  background: rgba(37, 38, 39, 0.7);
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  top: 0;
}
.nav .logo {
  font-family: 'Nunito', sans-serif;
  font-size: 5rem;
  color: #FFF9FB;
}
.nav .logo sup {
  font-family: 'arial';
  font-size: 1rem;
}
.nav .nav-btns {
  width: 100%;
  margin: 0 20px 0 0;
  text-align: right;
}
.nav .nav-btns .nav-btn1 {
  margin: 0 15px 0 0;
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 3px solid #252627;
  border-radius: 10px;
  color: #4B88A2;
  background: #FFF9FB;
}
.nav .nav-btns .nav-btn1:hover {
  color: #FFF9FB;
  background: #4B88A2;
  cursor: pointer;
}
.nav .nav-btns .nav-btn2 {
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 3px solid #252627;
  border-radius: 10px;
  color: #4B88A2;
  background: #FFF9FB;
}
.nav .nav-btns .nav-btn2:hover {
  color: #FFF9FB;
  background: #4B88A2;
  cursor: pointer;
}
.cta {
  background-image: url("../img/concert.png");
  height: 800px;
}
.cta h1 {
  color: #BB0A21;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  text-shadow: 2px 2px 3px;
  transform: translateX(-50%) translateY(-50%);
}
.cta .cta-btn1 {
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 30px 0 0;
  padding: 10px 50px;
  border: none;
  border-radius: 20%;
  color: #BB0A21;
  background: #FFF9FB;
}
.cta .cta-btn1:hover {
  color: #FFF9FB;
  background: #BB0A21;
  cursor: pointer;
}
.top-content {
  background-color: #D3D4D9;
  padding: 60px 0;
}
.top-content h2 {
  font-size: 3.5rem;
  color: #4B88A2;
  text-align: center;
}
.middle-content {
  border-top: 7px dashed #D3D4D9;
  border-bottom: 7px dashed #D3D4D9;
  background-color: #FFF9FB;
}
.middle-content .text-content {
  width: 48%;
  padding: 5% 0 0 0;
}
.middle-content .text-content h3 {
  font-size: 4rem;
  color: #BB0A21;
  text-align: center;
}
.middle-content .text-content p {
  padding: 2% 0 0 0;
  font-size: 1.8rem;
}
.middle-content .img-content {
  width: 50%;
}
.middle-content .img-content img {
  border-radius: 1%;
  height: 300px;
  width: 500px;
}
.middle-content .content-section1 {
  width: 100%;
  margin: 60px 0 0 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.middle-content .content-section1 .img-content {
  padding: 0;
}
.middle-content .content-section2 {
  margin: 30px 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.middle-content .content-section2 p {
  padding: 2% 0 0 20px;
}
.middle-content .content-section2 .img-content {
  text-align: right;
  padding: 0 20px 0 0;
}
.middle-content .content-section3 {
  margin: 40px 0 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.middle-content .img-content {
  text-align: left;
  padding: 0 0 0 20px;
}
.bottom-content {
  background-color: #D3D4D9;
  padding: 20px 0;
  color: #BB0A21;
}
.bottom-content h4 {
  font-size: 3rem;
  text-align: center;
}
footer {
  background: rgba(37, 38, 39, 0.7);
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0;
}
