/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open-Sans', sans-serif;
}
h3 {
  text-decoration: underline;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1680px;
  margin: 0 auto;
}
@media ( max-width: 500px ) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
body {
  transition: all 0.7s linear;
}
.loading {
  opacity: 0;
  visibility: hidden;
}
.nav {
  width: 100%;
  max-width: 1680px;
  background: rgba(75, 136, 162, 0.7);
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 300;
}
@media ( max-width: 500px ) {
  .nav {
    background: rgba(187, 10, 33, 0.8);
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #252627;
  }
}
.nav .logo {
  font-family: 'Nunito', sans-serif;
  font-size: 5rem;
  color: #FFF9FB;
}
.nav .logo sup {
  font-family: 'arial';
  font-size: 1rem;
}
.nav .logo:hover {
  color: #BB0A21;
  cursor: pointer;
}
@media ( max-width: 500px ) {
  .nav .logo {
    text-align: center;
  }
}
.nav .nav-btns {
  width: 100%;
  margin: 0 20px 0 0;
  text-align: right;
}
@media ( max-width: 500px ) {
  .nav .nav-btns {
    text-align: center;
    margin: 20px 0;
  }
}
.nav .nav-btns .nav-btn1 {
  margin: 0 15px 0 0;
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  color: #4B88A2;
  background: #FFF9FB;
}
.nav .nav-btns .nav-btn1:hover {
  color: #FFF9FB;
  background: #4B88A2;
  cursor: pointer;
}
@media ( max-width: 500px ) {
  .nav .nav-btns .nav-btn1 {
    border: 1px solid #252627;
  }
}
.nav .nav-btns .nav-btn2 {
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: 2px solid #D3D4D9;
  border-radius: 10px;
  color: #4B88A2;
  background: #FFF9FB;
}
.nav .nav-btns .nav-btn2:hover {
  color: #FFF9FB;
  background: #4B88A2;
  cursor: pointer;
}
@media ( max-width: 500px ) {
  .nav .nav-btns .nav-btn2 {
    border: 1px solid #252627;
  }
}
.cta {
  background-image: url("../img/concertcolor.jpg");
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center top;
}
@media ( max-width: 500px ) {
  .cta {
    height: 500px;
  }
}
.cta h1 {
  color: #252627;
  font-size: 4rem;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 3px;
  top: 50%;
  left: 51%;
  transform: translateX(-50%) translateY(-50%);
}
@media ( max-width: 500px ) {
  .cta h1 {
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    top: 48%;
    left: 51%;
  }
}
.cta .cta-btn1 {
  padding: 30px 100px;
  background: #252627;
  opacity: 0.9;
  color: #FFF9FB;
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 130%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: none;
  border-radius: 30%;
}
.cta .cta-btn1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.cta .cta-btn1 span:after {
  content: ':)';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.cta .cta-btn1:hover {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.48), 0 20px 50px 0 rgba(0, 0, 0, 0.36);
  background: #4B88A2;
  cursor: pointer;
}
.cta .cta-btn1:hover span {
  padding-right: 25px;
}
.cta .cta-btn1:hover span:after {
  opacity: 1;
  right: 1;
}
@media ( max-width: 500px ) {
  .cta .cta-btn1 {
    display: none;
  }
}
.cta .cta-btn2 {
  display: none;
  background: #4B88A2;
  color: #FFF9FB;
  position: absolute;
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 80px;
  border: 2px solid black;
  border-radius: 10px;
  top: 53%;
  left: 16%;
  white-space: nowrap;
  overflow: hidden;
}
@media ( max-width: 500px ) {
  .cta .cta-btn2 {
    display: block;
  }
}
.banner {
  background: #252627;
  background-size: cover;
  width: 100%;
  height: 200px;
  padding: 75px;
}
@media ( max-width: 500px ) {
  .banner {
    height: 150px;
    padding: 70px 0;
  }
}
.banner h2 {
  color: #FFF9FB;
  text-align: center;
  font-size: 6rem;
  font-family: 'Nunito', sans-serif;
}
@media ( max-width: 500px ) {
  .banner h2 {
    font-size: 3rem;
  }
}
.top-content {
  background-color: #D3D4D9;
  background-image: linear-gradient(rgba(37, 38, 39), rgba(233, 236, 239));
  padding: 60px 0;
}
.top-content h2 {
  font-size: 3rem;
  color: #BB0A21;
  text-align: center;
  font-weight: normal;
}
@media ( max-width: 500px ) {
  .top-content h2 {
    font-size: 2rem;
    font-weight: bolder;
  }
}
.middle-content {
  background-image: url("../img/middleimg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding: 60px 6%;
  border-top: 2px solid #eeeff1;
  border-bottom: 2px solid #252627;
}
.middle-content .text-content {
  width: 48%;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
  padding: 60px 0;
}
.middle-content .text-content h3 {
  font-size: 4rem;
  color: #BB0A21;
  text-align: center;
}
.middle-content .text-content p {
  color: #FFF9FB;
  padding: 15px 0 0 0;
  font-size: 3rem;
  text-align: center;
}
@media ( max-width: 500px ) {
  .middle-content .text-content {
    display: none;
  }
}
.middle-content .img-content {
  width: 50%;
}
.middle-content .img-content img {
  border-radius: 1%;
  height: 100%;
  width: 80%;
  border: 2px solid #eeeff1;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.2s ease-in-out;
}
.middle-content .img-content img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media ( max-width: 800px ) {
  .middle-content .img-content img {
    width: 100%;
  }
}
@media ( max-width: 500px ) {
  .middle-content .img-content img {
    width: 420px;
  }
}
.middle-content .content-section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.middle-content .content-section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0;
}
@media ( max-width: 500px ) {
  .middle-content .content-section2 {
    margin: 20px 0;
  }
}
.middle-content .content-section2 .img-content {
  text-align: right;
}
.middle-content .content-section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bottom-content .bottom-btn {
  text-align: center;
  margin-top: 20%;
}
.bottom-content .bottom-btn1 {
  background: #FFF9FB;
  color: #252627;
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px 20%;
  border: 3px solid #252627;
  border-radius: 10px;
  color: #FFF9FB;
  background: #4B88A2;
}
.bottom-content .bottom-btn1:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.bottom-content .bottom-btn1:hover {
  color: #4B88A2;
  background: #FFF9FB;
  cursor: pointer;
}
@media ( max-width: 500px ) {
  .bottom-content .bottom-btn1 {
    padding: 10px 100px;
  }
}
.bottom-content h4 {
  font-size: 3rem;
  text-align: center;
}
footer {
  background: rgba(75, 136, 162, 0.7);
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 20px 0;
}
@media ( max-width: 500px ) {
  footer {
    background: rgba(187, 10, 33, 0.8);
  }
}
