.container{
    max-width: 1500px;
    display: flex;
    flex-flow: column nowrap;
    .citeDescription1{
        margin: 215px 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        @media @mobile{
            margin: 0;
            flex-flow: column;
            padding: 0;
            margin-top: 20px;
        }
        .cD1-text{
            width: 60%;
            text-align: center;
            @media @mobile {
                width: 100%;
                margin-bottom: 95px;
            }
            h2{
                font-size: 4.5rem;
                margin-top: 120px;
                @media @mobile{
                    font-size: 4.2rem
                }
            }
            p{
                font-size: 3rem;
                line-height: 50px;
                padding-top: 8px;
                @media @mobile {
                    font-size: 3rem;
                    line-height: 73px;
                }
            }
        }
    }
    .citeDescription2{
        display: flex;
        justify-content: space-between;
        flex-flow: row-reverse;
        padding: 10px;
        @media @mobile{
            margin: 0;
            flex-flow: column;
            padding: 0;
        }
        .cD2-text{
            width: 60%;
            text-align: center;
            @media @mobile {
                width: 100%
            }
            h2{
                font-size: 4.5rem;
                margin-top: 120px;
                @media @mobile{
                    font-size: 4.2rem
                }
            }
            p{
                font-size: 3rem;
                line-height: 50px;
                padding-top: 8px;
                @media @mobile {
                    font-size: 3rem;
                    line-height: 73px;
                }
            }
        }
    }
    .container-img{
        display: flex;
        width: 444px;
        height: 444px;
        @media @mobile {
            margin: 0 auto;
        }
        @media @mobileSmall {
            width: 350px;
            height: 350px;
            margin: 0 auto;
        }
    }
}