.cta{
    display: flex;
    margin: 230px 0 150px 0;
    justify-content: center;
    @media @mobile {
        flex-flow: column;
        margin-top: 0;
        padding: 0;
    }
    .cta-image{ 
        width: 30%;
        height: auto;
        margin-right: 10%;
        @media @mobile {
            width: 100%;
        }
    }
    .cta-catchphrase{
        width: 25%;
        font-size: 5rem;
        text-align: center;
        line-height: 100px;
        padding-top: 25px;
        height: 500px;
        color: @black;
        @media @mobile {
            width: 100%;
        }
    }
    .cta-button{
        button{
            width: 150px;
            height: 60px;
            font-size: 2.5rem;
            .sign-up-button(@white, @red);
            @media @mobile {
                width: 34%;
                margin-bottom: 25px; 
                margin-top: 30px;
                font-size: 3rem;
                height: 73px;

            }
        }
        
    }
}