.cta{
    max-width: 1250px;
    display: flex;
    padding: 280px 0 220px 0;
    justify-content: center;
    margin: 0 auto;
    @media @mobile {
        margin: 230px 0 20px 0;
        flex-flow: column;
        margin-top: 0;
        padding: 0;
    }
    .cta-image{ 
        width: 450px;
        height: 450px;
        margin-right: 10%;
        @media @mobile {
            margin: 0 auto;
            padding-top: 20px;
        }
        @media @mobileSmall {
            width: 350px;
            height: 350px;
            margin: 0 auto;
        }
    }
    .cta-catchphrase{
        max-width: 45%;
        font-size: 4.5rem;
        text-align: center;
        line-height: 100px;
        padding-top: 25px;
        color: @black;
        @media @mobile {
            max-width: 100%;
            font-size: 3.5rem;
        }
        @media @desktopSmall {
            font-size: 3.5rem;
        }
    }
    .cta-button{
        button{
            width: 150px;
            height: 60px;
            font-size: 2.5rem;
            .sign-up-button(@white, @red);
            @media @mobile {
                
                margin-bottom: 25px; 
                margin-top: 30px;
                font-size: 3rem;
                height: 73px;

            }
        }
        
    }
}