* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%
    
}
html, body {
    font-family: 'Open Sans', sans-serif;
    
}
h1, h2, h3, h4, h5 {
    font-family: 'Open-Sans', sans-serif;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
}

.resize-page{
    
}