.middle-content {
    border-top: 7px dashed @gray;
    border-bottom: 7px dashed @gray;
    background-color: @white;

    .text-content {
        width: 48%;
        padding: 5% 0 0 0;

        h3 {
            font-size: 4rem;
            color: @red;
            text-align: center;
        }
        
        p {
            padding: 2% 0 0 0;
            font-size: 1.8rem;
        }
    }

    .img-content {
        width: 50%;
        
        img {
            border-radius: 1%;
            height: 300px;
            width: 500px;
        }
    }

    .content-section1 {
        width: 100%;
        margin: 60px 0 0 0;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      

        .img-content {
            padding: 0;
        }
    }

      .content-section2 {
        margin: 30px 0;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        p {
            padding: 2% 0 0 20px;
        }
    
        .img-content {
            text-align: right;
            padding: 0 20px 0 0;
        }
    }
      .content-section3 {
        margin: 40px 0 80px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .img-content {
            text-align: left;
            padding: 0 0 0 20px;
        }
}
