
@gray: @light-gray;
@blue: @rackley;
@red: @lava;
@black: @raisin-black;
@white: @snow;


@light-gray: #D3D4D9;
@rackley: #4B88A2;
@lava: #BB0A21;
@raisin-black: #252627;
@snow: #FFF9FB;






@mobile:~"(max-width: 500px)";
