.middle-content {
    border-top: 7px dashed @light-gray;
    border-bottom: 7px dashed @light-gray;
    background-color: @white;
    padding: 60px 6%;


    .text-content {
        width: 48%;
        padding: 5% 0 0 0;

        h3 {
            font-size: 4rem;
            color: @red;
            text-align: center;
        }
        
        p {
            padding: 2% 0 0 0;
            font-size: 3rem;
            text-align: center;
        }

        @media( max-width: 500px) {
            display: none;
        }
    }

    .img-content {
        width: 50%;
        
        img {
            border-radius: 1%;
            height: 300px;
            width: 80%;

            filter: gray; 
            -webkit-filter: grayscale(1); 
            -webkit-transition: all .2s ease-in-out;  
            
            &:hover {
            filter: none;
                -webkit-filter: grayscale(0);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            @media( max-width: 500px) {
                width: 200%;
            }
        }
    }

    .content-section1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

      .content-section2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media( max-width: 500px) {
            margin-top: 40px;
        }
    
        .img-content {
            text-align: right;
        }
    }
      .content-section3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media( max-width: 500px) {
            margin-top: 40px;
        }
    }
}
