.middle-content {
    background-image: url("../img/stars.png");
    height: 1100px;
    border-top: 7px dashed @light-gray;
    border-bottom: 7px dashed @light-gray;
    padding: 60px 0;

    @media( max-width: 500px) {
        height: 100%;
    }

    .mobile-content {
        display: none;

        @media( max-width: 500px) {
            display: flex;
            flex-direction: column; 
        }

        .mobile-txt {
            text-align: center;
            h3 {
                margin-top: 15px;
                font-size: 2.5rem;
                color: @red;
            }
            p {
                font-size: 2rem;
                margin-top: 15px;
            }
        }

        .mobile-img {
            margin: 10px 0;
            padding: 20px 15% 60px 15%;
            border-bottom: 3px solid @black;

            img {
                border: 2px solid @black;
                border-radius: 10px;
            }
        }

    }

}