.tabs {
  width: 100%;
  margin-top: 40px;

  .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  .tabs-item {
    display: none;
    width: 75%;

    .tabs-item-title {
      font-size: 4rem;
      font-family: 'Nunito', sans-serif;
      text-align: center;
      text-decoration: underline;
      font-weight: bold;
      padding-bottom: 20px;
    }

    .tabs-item-img {
      height: 400px;
      width: 50%;
      position: relative;
      top: 20%;
      left: 25%;
      -webkit-transition: all .2s ease-in-out;

      &:hover a {
        opacity: .7;
      }

      &:hover {
        background-image: url("../img/github-logo.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: auto;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }

      img {
        border: 5px solid @black;
        border-radius: 20%;

      }


    }
  }

  .tabs-item-selected {
    display: block;
  }

  .tabs-links {
    display: flex;

  }

  .tabs-link {
    padding: 10px 20px;
    text-align: center;
    font-size: 3rem;
    background-color: @blue;
    border: 2px solid @black;
    border-radius: 10px;
    margin: 0 15px;
    color: @white;
    cursor: pointer;

    &:hover {
      background-color: @gray;
      opacity: 0.8;
    }
  }

  .tabs-link-selected {
    z-index: 2;
    background-color: @red;
    opacity: 0.8;
    color: @white;
  }

  @media @mobile {
    display: none;
  }
}